.cz-logo {
  display: block;
  height: 40vh;
  margin: 0 auto;
  padding-top: calc(var(--topbar-height) + 20vh);
}

.skills {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  font-family: var(--lora-font);
  font-size: xx-large;
  margin: 300px auto;
  padding-top: 40vh;
}

.about-me {
  width: 80vw;
  max-width: 500px;
  margin: 300px auto;
  font-family: var(--lora-font);
  line-height: 2rem;
  padding-top: 40vh;
}

.contact-form {
  font-family: var(--lora-font);
  max-width: 500px;
  width: 80vw;
  margin: 300px auto;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  padding-top: 20vh;
}

.contact-form h2 {
  text-align: center;
}

.contact-form input,
.contact-form textarea {
  margin: 10px 0;
  border-radius: 16px;
  min-height: 70px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: x-large;
  font-family: var(--lora-font);
  border: 1px black dotted;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  font-size: larger;
}

.contact-form textarea {
  padding: 30px;
  height: 300px;
  resize: none;
}

.contact-form button {
  width: 100%;
  height: 70px;
  margin: 10px 0;
  border-radius: 16px;
  background-color: var(--cz-editorial-main-color);
  border: none;
  font-family: var(--lora-font);
  font-size: 1.5rem;
  border: 1px black dotted;
}

@media screen and (max-width: 700px) {
  .skills {
    grid-template-columns: auto;
  }
}
